/*BASICOS*/
html {
    min-height: 100%;
    position: relative;
}

body {
    background: url("../img/background.png");
    overflow-x: hidden;
    font-family: Archia;
    padding-top: 70px;
    min-height: 95%;
}

main {
    margin-top: 0;
}

h1 {
    font-family: Archia;
}

p {
    font-family: Lato-Black;
    font-size: 16px;
}

a:focus,
a:hover {
    text-decoration: none;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
 
/*Portada*/

.portada {
    background-image: url(../img/bg-header.jpg);
    background-size: cover;
    box-shadow: 0 0 30px #1c4d657a;
    overflow: hidden;
    text-align: center;
    width: auto;
    padding-top: 0%;
    padding-bottom: 20px;
    vertical-align: bottom;
}

.portada img {
    padding-top: 10px;
    padding-left: 10px;
    margin: auto;
    text-align: center;
    display: inline-block;
    filter: invert(1);
    width: 150px;
}

.portada h1 {
    font-weight: bold;
    text-align: center;
    margin: auto;
    display: block;
    width: 100%;
    color: #4149b1;
    font-size: 2em;
    padding-top: 10px;
}

.portada>.mobile {
    display: none;
}

 /*BEGIN MAIN */
 .video_principal {
    width: 100%;
 }