{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container ">
        <div class="row ">
            <div class="col-md-2">
                <p>Ver por Organismo:</p>

            </div>
            <div class="col-md-6 nopadding">
                <video class="video_principal" controls autoplay name="media">
                    <source src="{{last_video.archivo.url}}" type="video/mp4">
                </video>

            </div>
            <div class="col-md-2">
                    <div class="row">
                        {% for video in videos %}
                            <div class="col-md-9">
                                <video class="video_principal" controls name="media">
                                    <source src="{{video.archivo.url}}" type="video/mp4">
                                </video>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}