{% extends 'base.html' %}

{% block content %}
    <h1>Subir Video</h1>
    <form enctype="multipart/form-data" method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Upload"/>
    </form>
{% endblock %}