{% block content %}
    <li><a href="/">Inicio</a></li>
    <li><a href="http://prensa.jujuy.gob.ar/">Novedades</a></li>
    <li><a href="http://consultas.jujuy.gob.ar/458/">Consultas</a>
    <li><a href="/contacto/">Contacto</a></li>
    {% if user.is_staff %}
        <li><a href="/admin">Admin</a></li>
    {% endif %}
{% endblock %}/